.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cell-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
}

.square {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
  transition: all linear 0.1s;
}


.square.dead:hover {
  background-color:#eeeeee;
  transition: all linear 0.1s;
}

.live {
  background-color: #000;
}

.button {
  padding: 2rem;
  margin: 2rem;
  background-color: #000;
  color: #fff;
  border-radius: 1rem;
  font-weight: 800;
  font-size: 1.5rem;
}


.stop {
  background-color: #a00;
}

.toggle-button:hover {
  background-color: #777;
}

.stop:hover {
  background-color: #c00;
}

.thin-break {
  display: block;
  line-height: 0;
  margin: 0;
  content: '';
}

.row {
  margin: 0;
  display: flex;
}

.desc {
  margin: 1rem;
  font-size: 0.75rem;
}
