body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cell-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
}

.square {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
}

.live {
  background-color: #000;
}

.toggle-button {
  padding: 2rem;
  margin: 2rem;
  background-color: #000;
  color: #fff;
  border-radius: 1rem;
  font-weight: 800;
  font-size: 1.5rem;
}

.stop {
  background-color: #a00;
}

.toggle-button:hover {
  background-color: #777;
}

.thin-break {
  display: block;
  line-height: 0;
  margin: 0;
  content: '';
}

.row {
  margin: 0;
  display: flex;
}
